[mysqld]
general_log = 0
general_log_file = /var/lib/mysql/general.log
max_binlog_size= 500M
binlog_expire_logs_seconds = 259200

skip-external-locking
skip-name-resolve

binlog_cache_size = 100M
thread_cache_size = 64

innodb_stats_on_metadata = OFF

innodb_buffer_pool_size = 24G
innodb_redo_log_capacity = 1G
innodb_log_buffer_size = 64M
innodb_flush_method = O_DSYNC
innodb_flush_log_at_trx_commit = 1
innodb_thread_concurrency = 16
innodb_file_per_table = 1
innodb_buffer_pool_instances = 16



key_buffer_size = 32M
tmp_table_size = 64M
max_connections = 350
sort_buffer_size = 16M read_buffer_size = 1M
read_rnd_buffer_size = 1M
join_buffer_size = 8M
thread_stack = 1M
binlog_cache_size = 8M

tmp_table_size = 128M
table_open_cache = 2048

[mysqldump] quick
quote-names
max_allowed_packet = 16M